    #cabecalho.container {
        padding: 0px;
    }
    #quadros.container {
        padding: 0px;
    }
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    li.dropdown {
        margin-right: 27px;
        margin-left: 27px;
    }
    body a{
        color: gray;
    }

    span.caret{
        border-top: none;
    }

    .container-fluid{
        border-bottom: 7px solid #969696;
    }

    ul.menu-formatado{
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: none;
        border-top: 6px solid red;
    }